# Xcode / Swift .gitignore

## Build artifacts
DerivedData/
build/
*.xcarchive

## User-specific Xcode state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

## Swift Package Manager
.swiftpm/
.build/
Packages/

## macOS
.DS_Store

## Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
